# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
venv/
.sign_stream/
*.conda
*.egg-info/
dist/
build/

# ------------------------
# macOS
# ------------------------
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails and icon files
Icon?
._*

# ------------------------
# Jupyter Notebook / IPython
# ------------------------
.ipynb_checkpoints/
*.ipynb

# ------------------------
# PyCharm / VSCode
# ------------------------
.vscode/
.idea/
*.iml

# ------------------------
# Media / Data / Models
# ------------------------
dataset/
*.npy
*.h5
*.pth
*.tflite
*.ckpt

# ------------------------
# Logs
# ------------------------
*.log

# ------------------------
# Temporary / System
# ------------------------
*.swp
*.swo
*.tmp

models/
mediapipe/